$main-color: #00bafc;
$text-color: #000000;
$button-color: #ffffff;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header {
  nav {
    box-shadow: 0px 4px 20px 0px #0000001a;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0px;
    }
    .logo {
      animation: animate 3s infinite;
    }
    @keyframes animate {
      0% {
        transform: perspective(23rem) rotateY(0deg);
      }
      10% {
        transform: perspective(23rem) rotateY(-65deg);
      }
      90%,
      100% {
        transform: perspective(23rem) rotateY(2525deg);
      }
    }
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 16px;
      li {
        a {
          font-weight: 400;
          font-size: 15px;
          color: $text-color;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          border-bottom: 2px solid transparent;
          &:hover {
            color: $main-color;
            border-bottom: 2px solid $main-color;
          }
        }
      }
    }
  }
}
.button {
  border: none;
  font-weight: 700;
  font-size: 15px;
  color: $button-color;
  background-color: $main-color;
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.06);
}
.button-two {
  border: none;
  font-weight: 700;
  font-size: 15px;
  color: $main-color;
  background-color: transparent;

  cursor: pointer;
  border-bottom: 1px solid $main-color;
}
.hero {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0px;
    gap: 172px;
    .hero-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;
    }
  }
}

.section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding-top: 16px;
  .card {
    width: 352px;
    padding: 24px 58px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    box-shadow: 0px 8px 8px 0px #0000001a;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.06);
      box-shadow: 8px 8px 8px 8px #0000001a;
    }
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0px 56px 0px;
  gap: 16px;
}
.section-three {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.blue-section {
  background-color: $main-color;
}
.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 56px;
  margin-top: 56px;
  h2,
  p {
    color: #ffffff;
    text-align: center;
    padding-bottom: 16px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 24px;
    margin-bottom: 56px;
    gap: 16px;
    border-radius: 5px;
    input {
      font-weight: 400;
      font-size: 16px;
      width: 300px;
      padding: 16px;
      background-color: #F3F3F3;
      border:none;
    }
  }
}
footer{
  padding: 56px 0px;
    background-color: #000000;
    color:#ffffff;
    .container{
      display: flex;
      align-items: center;
      gap: 100px;
    }
    .copyright{
      width: 30%;
    }
    ul li:hover{
      cursor: pointer;
    }
    ul li:first-child{
      font-weight: 700;
      font-size: 20px;

      
    }
}
@media screen and (max-width:767px) {
  header {
    nav {
      box-shadow: 0px 4px 20px 0px #0000001a;
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0px;
      }
      
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .hero {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 80px 0px;
      gap: 172px;
      .hero-info {
    text-align: center;
      }
      .hero-video iframe{
        width: 300px;
      }
    }
  }
  .illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    img{
      width: 200px;
    }
  }
  footer{
    padding: 56px 0px;
      background-color: #000000;
      color:#ffffff;
      .container{
        display: flex;
        flex-direction: column    ;
        align-items: center;
        gap: 100px;
      }
      .copyright{
        width: 30%;
      }
      ul li:hover{
        cursor: pointer;
      }
      ul li:first-child{
        font-weight: 700;
        font-size: 20px;
  
        
      }
  }
}
